{
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/env", {
            "useBuiltIns": false,
            "loose": true,
            "targets": {"browsers": ">5% in US"}
          }
        ]
      ],
      "plugins": [
        "closure-elimination",
        "dev-expression"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/env", {
            "useBuiltIns": false,
            "modules": false,
            "loose": true,
            "targets": {"browsers": ">5% in US"}
          }
        ]
      ],
      "plugins": [
        "closure-elimination",
        "dev-expression"
      ]
    }
  }
}
